@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  color: #4d4f5c;
}

button {
  font-size: 13px;
  background-color: #fff;
  border: 0;
  outline: 0;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

button:not(:last-child) {
  border-right: 1px solid #d7dae2;
}

button:hover {
  color: #3b86ff;
  transition: 200ms;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
}

.container {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 2px 6px #0000000a;
  border-radius: 3px;
  cursor: pointer;
}

.section {
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
}

/* .header .title {
  margin-right: auto;
} */

.controls {
  display: flex;
  justify-content: center;
}

.buttons-form {
  display: flex;

  margin-right: auto;
  border: 1px solid #d7dae2;
  border-radius: 4px;
}

.buttons-form.header-buttons {
  margin-right: 0;
  margin-left: auto;
}

.controls .title {
  margin-right: auto;
}

.calendar-wrap {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* grid-template-rows: repeat(6, 1fr); */
}

.calendar-cell {
  width: 163px;
  height: 135px;
  border: 1px solid #eaf0f4;
  position: relative;
}

.calendar-cell.header-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #a3a6b4;

  height: 45px;

  border-top: 0;
  border-bottom: 0;
  background-color: #f5f6fa;

  pointer-events: none;
}

.calendar-cell .row {
  display: flex;
}

.calendar-cell:hover {
  transition: 350ms;
  border-color: #3b86ff;
}

.calendar-cell .date {
  height: 33px;
  width: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}
.calendar-cell .date.opacity {
  opacity: 0.3;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
}

.current-day {
  color: #fff;
  background-color: #3b86ff;
  border-radius: 50%;
}

#modal {
  position: fixed;
  width: 201px;
  min-height: 275px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 18px #00000029;
  border: 1px solid #43425d;
  border-radius: 10px;

  padding-left: 30px;
  padding-right: 30px;
}

#modal ul {
  display: block;
  flex-direction: column;
  list-style: none;
}

#modal ul input {
  width: 100%;
  min-height: 25px;

  border: 0;
  border-bottom: 1px solid #d6d6d6;
  outline: 0;
}

#modal ul label {
  display: inline-block;
  text-align: left;
  font: normal normal normal 9px/20px Source Sans Pro;
  letter-spacing: 0px;
  color: #d6d6d6;
  margin-top: 21px;
}

#modal .modal-buttons {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  /* margin-top: auto; */
}

.modal-buttons button {
  border: none;
  padding: 0;
  margin-top: 38px;
}

.modal-buttons button:first-child {
  color: #ff5f5f;
}

.modal-buttons button:last-child {
  color: #6a6996;
}
